In [9]:
import pandas as pd
import tensorflow as tf

### Load pandas dataset

In [8]:
df = pd.read_csv('/code/geosure/mdf20181119.tsv', encoding='utf-16', sep='\t')
df.head()

,geosure_id,record,continent,wiki_continent,country,wiki_country,country_code,province,wiki_city,city,...,population,latitude,longitude,composite,physical,women,theft,political,health,lgbtq
0,Q930100001,1,Central America,Q27611,Anguilla (UK),Q145,AI,NaN,Q30994,The Valley,...,1169.0,18.220554,-63.068615,26,23,22,28,25,40,24
1,Q930100002,2,Central America,Q27611,Antigua and Barbuda,Q781,AG,NaN,Q36262,St. John's,...,51247.0,17.117528,-61.845557,39,38,35,36,30,45,48
2,Q930100003,3,Central America,Q27611,Aruba (ND),Q21203,AW,NaN,Q131243,Oranjestad,...,28294.0,12.524580,-70.026459,39,45,30,33,32,35,53
3,Q930100004,4,Central America,Q27611,Aruba (ND),Q21203,AW,NaN,Q3558364,Santa Cruz,...,12870.0,12.500000,-69.966667,31,28,25,28,30,40,36
4,Q930100005,5,Central America,Q27611,Aruba (ND),Q21203,AW,NaN,Q2605285,Santa Nicolas,...,15284.0,12.433333,-69.916667,29,25,25,28,30,40,33

### Get data for Argentina only

In [10]:
df_arg = df.loc[df['country'] == 'Argentina'].reset_index()

'0.12.0'